name: continuous-integration

on:
  push:
    branches:
    - master
    tags:
    - '*'
  pull_request:
    branches:
    - master

env:
  GO_VERSION: "1.25.6"

jobs:
  # Runs Golangci-lint on the source code
  ci-go-lint:
    name: ci-go-lint
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: ${{ env.GO_VERSION }}
      id: go

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9

  # Runs markdown-lint on the markdown files
  ci-markdown-lint:
    name: ci-markdown-lint
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6
    - name: markdownlint-cli2-action
      uses: DavidAnson/markdownlint-cli2-action@v22

  # Executes Unit Tests
  ci-unit-tests:
    name: ci-unit-tests
    runs-on: ubuntu-22.04
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: ${{ env.GO_VERSION }}
      id: go

    - name: Run unit tests
      run: |
        make test

  # Builds mark binary
  ci-build:
    name: ci-build
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: ${{ env.GO_VERSION }}
      id: go

    - name: Build mark
      run: |
        make build

  # Build and push Dockerimage
  ci-docker-build:
    name: ci-docker-build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build only (on commits)
      uses: docker/build-push-action@v6
      if: ${{ github.ref_type != 'tag' }}
      with:
        push: false
        tags: ghcr.io/${{ github.repository }}:latest

    # we publish to 'birjj' (Johan)'s GHCR, because TV 2's GHCR doesn't allow public images
    # we need this image to be public, because it's used in the CI of other repositories
    # we keep the actual repo within the tv2 org to allow everyone on the team to maintain it
    - name: Log in to GHCR
      uses: docker/login-action@v3
      if: ${{ github.ref_type == 'tag' }}
      with:
        registry: ghcr.io
        username: birjj
        password: ${{ secrets.BIRJJ_PACKAGE_PUBLISH_TOKEN }}

    - name: Build and push (on tag)
      uses: docker/build-push-action@v6
      if: ${{ github.ref_type == 'tag' }}
      with:
        push: true
        platforms: linux/amd64,linux/arm64
        tags: |
           ghcr.io/birjj/kovetskiy-mark:${{ github.ref_name }}
           ghcr.io/birjj/kovetskiy-mark:latest
